<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh yeah!</title>
</head>
<body>
    <h1>It is working...</h1>
    <hr>
    <h2>Your quert:</h2>
    <ul>
        {% for tag in result %}
            <li>
                {{ tag.tag.label }} - {{ tag.content_type }} - {{ tag.object_id }}
            </li>
        {% endfor %}
    </ul>
<hr>
{{ result }}

</body>
</html>